.idea/
*.iml
*.iws
out/

target/
!**/src/main/**/target/
!**/src/test/**/target/

*.log

# OS files
.DS_Store
Thumbs.db

.env
.env.*

docker-data/
postgres_data/

*.class
*.jar
*.war

*.tmp
*.swp
*.bak